<style type="text/css">
  .btn-primary { background-color: #69B241 }

  .backimage {
    background-image: url({{ url_for('static', filename='img/bg.png') }});
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    height: 100%;
  }

  #success { color: green; }
  #error { color: red; }
  #note { font-size: 0.75em; }

  #image {
    width: 100%;
    min-height: 120px;
    max-height: 500px;
    margin-top: 10px;
  }

  #spinner { margin-left: 10px; }
  .hidden { display: none; }
</style>

<!-- Base Stitch Browser SDK -->
<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.13/stitch.js"></script>
<!-- Stitch AWS SDK -->
<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.13/stitch-services-aws.js"></script>

<div class="backimage">


  <div id="image">
    <img id="uploaded-image" class="hidden" />
    <div id="uploaded-image-placeholder" class="uploaded-image-placeholder">
      Uploaded Image Will Appear Here
    </div>
  </div>


  </div>



</div>
