<style type="text/css">
	body {
		margin: 0;
	}

    .backimage {
		background-image: url({{ url_for('static', filename='img/bg.png') }});
		background-color: #cccccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 800px;
	}

	.maintext {
  		text-align: left;
  		position: absolute;
  		top: 10%;
  		left: 20%;
  		transform: translate(-50%, -50%);
  		color: navy;
	}
	.weather {
		text-align: right;
		position: absolute;
		top: 10%;
		right: 3%;
		transform: translate(-50%, -50%);
		color: navy;
	}

</style>
</head>
<body>
	<link  rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css') }}">
	<div class="backimage">
		<div class="maintext">
			<h1 style="font-size: 30px; color: #D4D4D4; text-align:center" id="tempid1">Hello Sophia!</h1>
			<h1 style="font-size: 30px; color: #D4D4D4; text-align:center"> Please select your clothes</h1>
		</div>
		<div class="weather">
			<h1 style="font-size: 30px; color: #D4D4D4;" id="tempid2">Weather</h1>
			<h1 style="font-size: 30px; color: #D4D4D4;" id="tempid3">Temperature</h2>
		</div>

		<center>
			<!-- <blockquote class="imgur-embed-pub" lang="en" data-id="KUteCdn"><a href="//imgur.com/KUteCdn">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->
			<img src="https://s.imgur.com/images/logo-1200-630.jpg" alt = "My Photo" style = "width:400px; height 350px; position: absolute; top: 150px; left: 100px" id="im1">
			<img src="http://i.imgur.com/s1or7a7.jpg" alt="http://i.imgur.com/s1or7a7.jpg" style = "width:400px; height 350px; position: absolute; top: 150px; left: 900px" id="im2">
			<img src = "clothes.jpg" alt = "My Photo" style = "width:400px; height 350px; position: absolute; top: 400px; left: 100px" id="im3">
			<img src = "clothes.jpg" alt = "My Photo" style = "width:400px; height 350px; position: absolute; top: 400px; left: 900px" id="im4">
		</center>

		<button onclick="location.href='../index'"class="back Home" style=" margin-left: 5	%;">Home</button>
		<button onclick="location.href='../Sophia'"class="back Main" style=" margin-left: 90%;">Main</button>
	</div>

	<script>
		var url_string = window.location.href
		var url = new URL(url_string);
		var name = url.searchParams.get("name");
		const idelement = document.getElementById("tempid1");
		idelement.innerHTML =  name;
	</script>

	<script>
	const data = fetch(
	   "https://webhooks.mongodb-stitch.com/api/client/v2.0/app/our_last_hackson-sfrvf/service/weather/incoming_webhook/get_weather"
   ).then(response => response.json())
   .then(json => {
	   const idelement2 = document.getElementById("tempid2");
	   idelement2.innerHTML = "Weather: "+ json["Description"];
	   const idelement3 = document.getElementById("tempid3");
	   idelement3.innerHTML = "Temperature "+ json["Temperature"]["$numberDouble"] + "C";
   })
	</script>

	<script>
	var url_string = window.location.href
	var url = new URL(url_string);
	var name = url.searchParams.get("name");
	var otype = url.searchParams.get("occasion_type");
	const data2 = fetch(
	   "https://webhooks.mongodb-stitch.com/api/client/v2.0/app/our_last_hackson-sfrvf/service/upload_img/incoming_webhook/find_cloth?name=" + name + "&occasion_type=" + otype
   ).then(response => response.json())
   .then(json => {
	   const image1 = document.getElementById("im1");
	   const image2 = document.getElementById("im2");
	   const image3 = document.getElementById("im3");
	   const image4 = document.getElementById("im4");
	   console.log(json);
	   console.log(json[0]["url"]);
	   //image1.setAttribute('src', json[0]["url"]);
	   //image1.src = json[0]["url"];
	   //image1.alt = json[0]["url"];

	   //image2.src = json[1]["url"];
	   //image3.src = json[2]["url"];
	   //image4.src = json[3]["url"];
	   return(json);
   });
   console.log(data2);

   </script>



</body>
