<style type="text/css">
	body {
		margin: 0;
	}

    .backimage {
		background-image: url({{ url_for('static', filename='img/bg.png') }});
		background-color: #cccccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 800px;
	}

	.maintext {
  		text-align: left;
  		position: absolute;
  		top: 10%;
  		left: 20%;
  		transform: translate(-50%, -50%);
  		color: navy;
	}
	.weather {
		text-align: right;
		position: absolute;
		top: 10%;
		right: 3%;
		transform: translate(-50%, -50%);
		color: navy;
	}

</style>
</head>
<body>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<div class="backimage">
		<div class="maintext">
			<h1 style="font-size: 30px; color: #D4D4D4;" id="tempid">Hello Sophia!</h1>
		</div>
		<div class="weather">
			<h1 style="font-size: 30px; color: #D4D4D4;" id="tempid2">Weather</h1>
			<h1 style="font-size: 30px; color: #D4D4D4;" id="tempid3">Temperature</h2>
		</div>

			<center>
				<p>
					<button onclick="location.href='http://www.google.com'" class="func Add"  id="add_cloth">Add Clothes</button>
					<button onclick="location.href='{{ url_for('static', filename='../select_clothes') }}'"class="func Select" id = "fixit">Select Clothes</button>
				</p>
				<p>
					<button onclick="location.href='{{ url_for('static', filename='../Recommend') }}'" class="func2 Recommend" id="tempid4">Recommend Clothes</button>
					<button onclick="location.href='Sophia.html'"class="func2 Remove">Remove Clothes</button>
				</p>
			</center>
	</div>

	<script>
		function myFunction() {document.getElementById("selectdrop").classList.toggle("show");}
	</script>

	<script>
		var url_string = window.location.href
		var url = new URL(url_string);
		var name = url.searchParams.get("name");
		const idelement = document.getElementById("tempid");
		idelement.innerHTML = "Hello, "+ name + "!";
		const button1 = document.getElementById("tempid4");
		document.getElementById('tempid4').onclick = function() {
			window.location.href =  "../Recommend?name=" + name;
		}
		document.getElementById('fixit').onclick = function() {
			window.location.href =  "../select_clothes?name=" + name;
		}
		document.getElementById('add_cloth').onclick = function() {
			window.location.href =  "../add_cloths?name=" + name;
		}
		//document.getElementById("tempid4").setAttribute("onclick",'location.href = "../Recommend?name=" + json["name"]');

	</script>


		<script>
		const data = fetch(
		   "https://webhooks.mongodb-stitch.com/api/client/v2.0/app/our_last_hackson-sfrvf/service/weather/incoming_webhook/get_weather"
	   ).then(response => response.json())
	   .then(json => {
		   const idelement2 = document.getElementById("tempid2");
		   idelement2.innerHTML = "Weather: "+ json["Description"];
		   const idelement3 = document.getElementById("tempid3");
		   idelement3.innerHTML = "Temperature "+ json["Temperature"]["$numberDouble"] + "C";





		   https://webhooks.mongodb-stitch.com/api/client/v2.0/app/our_last_hackson-sfrvf/service/add_cloth/incoming_webhook/request_add_cloth?natat=sucks
	   })
		</script>





</body>
