<style type="text/css">
	body {
		margin: 0;
	}

    .backimage {
		background-image: url({{ url_for('static', filename='img/bg.png') }});
		background-color: #cccccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 800px;
	}

	.maintext {
  		text-align: left;
  		position: absolute;
  		top: 10%;
  		left: 20%;
  		transform: translate(-50%, -50%);
  		color: navy;
	}
	.weather {
		text-align: right;
		position: absolute;
		top: 10%;
		right: 3%;
		transform: translate(-50%, -50%);
		color: navy;
	}

</style>
</head>
<body>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<div class="backimage">
		<div class="maintext">
			<h1 style="font-size: 50px">Hello Sophia!</h1>
		</div>
		<div class="weather">
			<h1 style="font-size: 30px">Weather</h1>
		</div>

			<center>
				<p>
					<button onclick="location.href='http://www.google.com'"class="func Add">Add Clothes</button>
						<button onclick="location.href='{{ url_for('static', filename='select_clothes') }}"class="func Select">Select Clothes</button>
				</p>
				<p>
					<button onclick="location.href='http://www.google.com'"class="func2 Recommend">Recommend Clothes</button>
					<button onclick="location.href='Sophia.html'"class="func2 Remove">Remove Clothes</button>
				</p>
			</center>
	</div>

	<script>
		function myFunction() {document.getElementById("selectdrop").classList.toggle("show");
}
	</script>
</body>
